* {
    margin: 0%;
    padding: 0%;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    /* position: relative; */
    display: flex;
    
    justify-content:space-evenly;

    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: black;
}

.child1 {
    width: 70px;
    height: 80px;
    background-color: rgb(96, 44, 70);

}



/* #parent {
    position: absolute;
    right: 5%;
    height: 150px;
    width: 250px;
    background-color: rgb(113, 113, 65);
}


#child{
    position: absolute;
    top:30%;
    right : 5%;
    height: 50px;
    width: 70px;
    background-color: rgb(5, 86, 89);
} */